@font-face {
	font-family: 'SF UI Text Medium';
	src: url('../fonts/sf_ui_text_medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/sf_ui_text_medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/sf_ui_text_medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/sf_ui_text_medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/sf_ui_text_medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/sf_ui_text_medium.svg#sf_ui_text_medium') format('svg'); /* Chrome < 4, Legacy iOS */
}