.about {
  //border: 1px solid #e83e8c;
  &__warps {
    position: relative;
  }

  &__title {
    @extend .titles;

    &--indent {
      margin-bottom: 65px;
      @media (max-width: $desktop-width) {
        margin-bottom: 50px;
      }
      @media (max-width: $tablet-width) {
        margin-bottom: 30px;
      }
    }
  }
  &__content {
    width: 35%;
    @media (max-width: $desktop-width) {
      width: 50%;
    }
    @media (max-width: $tablet-width) {
      width: 100%;
    }
  }
  &__text {
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    @include font(16px, 20px);
    &--indent {
      padding-bottom: 40px;
      @media (max-width: $desktop-width) {
        padding-bottom: 25px;
      }
      @media (max-width: $tablet-width) {
        padding-bottom: 20px;
      }
    }
    &--big-indent {
      padding-bottom: 40px;
      @media (max-width: $desktop-width) {
        padding-bottom: 50px;
      }
      @media (max-width: $tablet-width) {
        padding-bottom: 30px;
      }
    }
  }
  &__button {
    position: relative;
    text-transform: uppercase;
    padding: 0;
    @include font(14px, 18px);
    font-weight: 500;
    @media (max-width: $tablet-width) {
      font-weight: 400;
      @include font(12px, 16px);
    }

    &:after {
      content: '>';
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translateY(-50%);
    }
  }
  &__blank {
    height: 300px;
    @media (max-width: $desktop-width) {
      height: 100px;
    }
    @media (max-width: $tablet-width) {
      height: 200px;
    }
  }
  &__images {
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,.1);
    right: 0;
    bottom: 0;
    left: 0;
    //transform: translateY(-100%);
  }
  &__big-image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 600px;
    @media (max-width: $desktop-width) {
      width: 300px;
    }
    @media (max-width: $tablet-width) {
      width: 200px;
    }
  }
  &__small-image {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 1;
    width: 320px;
    @media (max-width: $desktop-width) {
      left: 55%;
      width: 150px;
    }
    @media (max-width: $tablet-width) {
      width: 125px;
    }
  }
  &--indent {
    padding-bottom: 200px;
    @media (max-width: $desktop-width) {
      padding-bottom: 90px;
    }
    @media (max-width: $tablet-width) {
      padding-bottom: 50px;
    }
  }
}