h1, .h1 {
  @include font(44px, 48px);
  @media (max-width: $desktop-width) {
    @include font(36px, 40px);
  }
  @media (max-width: $tablet-width) {
    @include font(30px, 45px);
  }
}


/*@font-face {
  font-family: 'Circe';
  src: url('../../fonts/fonts/Circle-Regular.eot');
  src: local('☺'), url('../../fonts/fonts/Circle-Regular.woff') format('woff'), url('../../fonts/fonts/Circle-Regular.ttf') format('truetype'), url('../../fonts/fonts/Circle-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../../fonts/fonts/Circle-Bold.eot');
  src: local('☺'), url('../../fonts/fonts/Circle-Bold.woff') format('woff'), url('../../fonts/fonts/Circle-Bold.ttf') format('truetype'), url('../../fonts/fonts/Circle-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IntroScriptR';
  src: url('../../fonts/fonts/IntroScriptR-H2Base.eot');
  src: local('☺'), url('../../fonts/fonts/IntroScriptR-H2Base.woff') format('woff'), url('../../fonts/fonts/IntroScriptR-H2Base.ttf') format('truetype'), url('../../fonts/fonts/IntroScriptR-H2Base.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../../fonts/fonts/Playfair Display Bold.eot');
  src: local('☺'), url('../../fonts/fonts/Playfair Display Bold.woff') format('woff'), url('../../fonts/fonts/Playfair Display Bold.ttf') format('truetype'), url('../../fonts/fonts/Playfair Display Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../../fonts/fonts/Playfair Display Bold Italic.eot');
  src: local('☺'), url('../../fonts/fonts/Playfair Display Bold Italic.woff') format('woff'), url('../../fonts/fonts/Playfair Display Bold Italic.ttf') format('truetype'), url('../../fonts/fonts/Playfair Display Bold Italic.svg') format('svg');
  font-weight: 700;
  font-style: italic;
}*/

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../fonts/Mark Simonson - Proxima Nova Black.eot');
  src: local('☺'), url('../../fonts/Mark Simonson - Proxima Nova Black.woff') format('woff'), url('../../fonts/Mark Simonson - Proxima Nova Black.ttf') format('truetype'), url('../../fonts/Mark Simonson - Proxima Nova Black.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIText';
  src: url('../../fonts/SFUIText-Light.eot');
  src: local('☺'), url('../../fonts/SFUIText-Light.woff') format('woff'), url('../../fonts/SFUIText-Light.ttf') format('truetype'), url('../../fonts/SFUIText-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIText';
  src: url('../../fonts/SFUIText-Regular.eot');
  src: local('☺'), url('../../fonts/SFUIText-Regular.woff') format('woff'), url('...fonts/SFUIText-Regular.ttf') format('truetype'), url('...fonts/SFUIText-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIText';
  src: url('../../fonts/SFUIText-Medium.eot');
  src: local('☺'), url('../../fonts/SFUIText-Medium.woff') format('woff'), url('../../fonts/SFUIText-Medium.ttf') format('truetype'), url('../../fonts/SFUIText-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIText';
  src: url('../../fonts/SFUIText-Bold.eot');
  src: local('☺'), url('../../fonts/SFUIText-Bold.woff') format('woff'), url('../../fonts/SFUIText-Bold.ttf') format('truetype'), url('../../fonts/SFUIText-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}




