.button {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  color: $white;
  cursor: pointer;
  @include font(14px, 18px);
  @media (max-width: $tablet-width) {
    padding: 10px 20px;
    @include font(11px, 15px);
  }
  &--bdrs {
    border: 2px solid #fff;
    border-radius: 50px;
  }
  &--arrow:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 72px;
    height: 12px;
    //background: url("images/button-arrow.png") no-repeat;
    background: url("../../images/button-arrow.png") no-repeat center right;
    transform: translate(60%,-50%);
    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}