.social {
  display: flex;
  *:not(:last-child) {
    margin-right: 20px;
    @media (max-width: $desktop-width) {
      margin-right: 15px;
    }

  }
  &__item {
    cursor: pointer;
    transition: opacity .2s ease;
    &:active {
      color: inherit;
      opacity: .9;
    }
  }
}