.about {
  &__container {
  }

  &__wrap {
    position: relative;
  }

  &__content {

    &--indent {
      padding: 100px 0;
      @media (max-width: $desktop-width) {
        padding: 40px 0;
      }
      @media (max-width: $tablet-width) {
        padding: 25px 0;
      }
    }
  }

  &__title {
    @extend .-title;

    &--indent {
      margin-bottom: 60px;
      @media (max-width: $desktop-width) {
        margin-bottom: 40px;
      }
      @media (max-width: $tablet-width) {
        margin-bottom: 25px;
      }
    }
  }

  &__text {
    @include font-SFUI(16px, 24px, 300);
    width: 40%;
    @media (max-width: $desktop-width) {
      width: 50%;
    }
    @media (max-width: $tablet-width) {
      @include font-SFUI(14px, 20px, 300);
      width: 100%;
    }

    &--indent {
      margin-bottom: 35px;
      @media (max-width: $desktop-width) {
        margin-bottom: 45px;
      }
      @media (max-width: $tablet-width) {
        margin-bottom: 25px;
      }
    }
  }

  &__link {
    color: #2a4f37;
    text-transform: uppercase;
    @include font-SFUI(14px, 26px, 500);
  }
}
