.contacts {
  &__container {
    position: relative;
  }
  &__wrap {
    @extend .my-wrap;
  }

  &__title {
    @extend .-title;

    &--indent {
      margin-bottom: 30px;
      @media (max-width: $desktop-width) {
        margin-bottom: 20px;
      }
      @media (max-width: $tablet-width) {
        margin-bottom: 10px;
      }
    }
  }
  &__map {
    height: 513px;
  }
  &__address {
    position: absolute;
    top: 30px;
    left: 10%;
    width: 310px;
    //height: 365px;
    background-color:$primary;
    margin-top: 30px;
    padding: 60px 70px;
    @media (max-width: $desktop-width) {
      padding: 30px 35px;
      margin-top: 20px;
    }
    @media (max-width: $tablet-width) {
      position: relative;
      width: auto;
      background: transparent;
      margin-top: 0;
      //margin-bottom: 20px;
      padding: 0 0 40px 0;
    }
  }
  &__name {
    color: white;
    @include font-SFUI(16px, 30px, 500);
    margin-top: 20px;
    @media (max-width: $desktop-width) {
      @include font-SFUI(18px, 22px, 500);
    }
    @media (max-width: $tablet-width) {
      color: #000;
      padding-bottom: 10px;
    }

  }
  &__text {
    color: white;
    @include font-SFUI(16px, 21px, 300);
    transition: text-decoration 2s ease;
    @media (max-width: $tablet-width) {
      color: #000;
    }
    & a:hover {
      text-decoration: underline;
    }
    @media (max-width: $tablet-width) {
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
}