.footer {
  &__container {
    height: 130px;
    background-color: $primary;
    @media (max-width: $desktop-width) {
      height: 69px;
    }
    @media (max-width: $tablet-width) {
      height: 157px;
    }
  }
  &__wrap {
    @extend .my-wrap;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: $white;
    @media (max-width: $tablet-width) {
      flex-direction: column;
    }
  }
  &__copyright {
    @include font-SFUI(14px, 16px, 300);
    @media (max-width: $desktop-width) {
      @include font-SFUI(12px, 20px, 300);
    }
    @media (max-width: $tablet-width) {
      @include font-SFUI(10px, 20px, 300);
      order: 1   ;
    }
  }


}