.how {
  &__title {
    @extend .-title;

    &--indent {
      margin-bottom: 60px;
      @media (max-width: $desktop-width) {
        margin-bottom: 40px;
      }
      @media (max-width: $tablet-width) {
        margin-bottom: 25px;
      }
    }
  }
  &__items {

    &--indent {
      padding-bottom: 90px;
      @media (max-width: $desktop-width) {
        padding-bottom: 70px;
      }
      @media (max-width: $tablet-width) {
        padding-bottom: 60px;
      }
    }
  }
  &__item {
    display: flex;
    height: 570px;
    @media (max-width: $desktop-width) {
      height: 300px;
    }
    //border: 1px solid rebeccapurple;
    &--indent:not(:last-child) {
      //padding-bottom: 85px;
      @media (max-width: $desktop-width) {
        //padding-bottom: 70px;
        //padding-left: 50px;
         }
      @media (max-width: $tablet-width) {
        margin-bottom: 70px;
      }
    }
  }
  &__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: $tablet-width) {
      width: 100%;
      text-align: center;
    }
    &--indent {
      padding-left: 90px;
      @media (max-width: $desktop-width) {
        padding-left: 50px;
      }
      @media (max-width: $tablet-width) {
        padding-left: 0;
      }
    }
  }
  &__name {
    @include font-Roboto (28px, 36px, 400);
    @media (max-width: $desktop-width) {
      @include font-Roboto (18px, 24px, 400);
    }
    @media (max-width: $tablet-width) {
      @include font-Roboto (14px, 18px, 400);
    }
    &--indent {
      padding-bottom: 25px;
      @media (max-width: $tablet-width) {
        padding-bottom: 0;
      }
    }
  }
  &__text {
    @include font-SFUI(16px, 24px, 300);
    @media (max-width: $tablet-width) {
      @include font-SFUI(14px, 21px, 300);
    }
  }
  &__image-wrapper {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    &:nth-child(odd) {
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 462px;
        height: 462px;
        border-radius: 50%;
        border: 45px solid rgba($primary, .5);
        transform: translate(-50%,-40%);
        @media (max-width: $desktop-width) {
          width: 236px;
          height: 236px;
        }
      }
    }
    &:nth-child(even) {
      &:before {
        z-index: 1;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 372px;
        height: 372px;
        border-radius: 50%;
        background-color: rgba($primary, .5);
        transform: translate(-50%,-40%);
        @media (max-width: $desktop-width) {
          width: 195px;
          height: 195px;
        }
      }
      &:after {
        z-index: 1;
        content: '';
        background-image: url(../../images/decor-dots-xl.png);
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        right: 0;
        width: 140px;
        height: 140px;
        transform: translate(-25%, -75%);
        @media (max-width: $desktop-width) {
          background-image: url(../../images/decor-dots-md.png);
          width: 70px;
          height: 70px;
          transform: translate(-25%, -100%);
        }
      }
    }
    @media (max-width: $tablet-width) {
      display: none;
    }
    &--small {
      display: none;
      @media (max-width: $tablet-width) {
        display: flex;
        width: 100%;
        justify-content: center;
      }
    }
    &--indent {
      margin-top: -115px;
      @media (max-width: $desktop-width) {
        margin-top: -65px;
      }
    }
  }
  &__image {
    position: relative;
    z-index: 2;
    max-width: 100%;
    display: none;
    object-fit: none;
    @media (max-width: $tablet-width) {
      width: 180px;
    }
    &--xl {
      display: block;
      @media (max-width: $desktop-width) {
        display: none;
      }
    }
    &--md {
      @media (max-width: $desktop-width) {
        display: block;
      }
      @media (max-width: $tablet-width) {
        display: none;
      }
    }
    &--sm {
      @media (max-width: $tablet-width) {
        display: block;
      }
    }

  }
}