.main-sect {
  position: relative;
  @media (max-width: $tablet-width) {
    overflow-x: hidden;
  }
  &__container {
    position: relative;
    //overflow-x: hidden;
    &:before {
      content: '';
      position: absolute;
      top: -63px;
      right: -20px;
      width: 630px;
      height: 612px;
      background-image: url(../../images/decor-rings-xl.png);
      background-repeat: no-repeat;
      @media (max-width: $desktop-width) {
        top: -10px;
        right: 75px;
        width: 158px;
        height: 155px;
        background-image: url(../../images/decor-rings-md.png);
      }
    }
  }
  &__wrap {
    display: flex;
    position: relative;
  }
  &__content {
    &--indent {
      padding: 130px 0 200px;
      //padding-bottom: 120px;
      @media (max-width: $desktop-width) {
        padding: 80px 0 190px;
      }
/*      @media (max-width: $tablet-width) {
        padding: 80px 0 190px;
      }*/
    }
  }
  &__title {
    color: $white;
    text-transform: uppercase;
    @include font-Roboto(58px, 72px, lighter);
    letter-spacing: 8px;
    @media (max-width: $desktop-width) {
      @include font-Roboto(48px, 62px, lighter);
    }
    @media (max-width: $tablet-width) {
      @include font-Roboto(30px, 42px, lighter);
    }
   }
  &__text {
    @include font-SFUI(18px, 30px, 300);
    color: $white;
    @media (max-width: $tablet-width) {
      display: none;
    }
    &--indent {
      padding-bottom: 50px;
    }
  }

  &__photo-wrapper {
    pointer-events: none;
    position: absolute;
    top: -40px;
    right: -100px;
    @media (max-width: $desktop-width) {
      top: 0;
      right: -160px;
    }
    @media (max-width: $tablet-width) {
      top: 100px;
      right: -110px;
    }
  }
  &__photo {
    height: 776px;
    @media (max-width: $desktop-width) {
      height: 630px;
    }
    @media (max-width: $tablet-width) {
      transform: scale(-1, 1);
      height: 318px;
    }
  }
  &__menu {
    display: none;
    position: absolute;
    top: -88px;
    right: 0;
    bottom: -15px;
    left: 0;
    background-color: $primary;
    justify-content: center;
    align-items: center;
    @media (max-width: $tablet-width) {
      padding-left: 50px;
    }
    &.active {
      display: flex;
    }
  }
  &__close {
    content: '';
    position: absolute;
    top: 50px;
    right: 70px;
    &:before, &:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 50px;
      background-color: #fff;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
  &__list {
    color: white;
    @include font-Roboto(48px, 70px, 500);
    @media (max-width: $desktop-width) {
      @include font-Roboto(36px, 60px, 500);
    }
    @media (max-width: $tablet-width) {
      @include font-Roboto(18px, 43px, 500);
    }
  }
  &__item {
    position: relative;
    &.active:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -30px;
        background-color: #fff;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        transform: translateY(-50%);
      @media (max-width: $desktop-width) {
        @include font-Roboto(36px, 60px, 500);
      }
      @media (max-width: $tablet-width) {
        left: -20px;
        width: 9px;
        height: 9px;
      }
    }
  }
  &--indent {
    padding-bottom: 100px;
    @media (max-width: $desktop-width) {
      padding-bottom: 40px;
    }
    @media (max-width: $tablet-width) {
      padding-bottom: 25px;
    }
  }
}