.main-sect {
  @media (max-width: $tablet-width) {
    overflow-x: hidden;
  }
  &__container {
  }
  &__wrap {
    display: flex;
    position: relative;
  }
  &__content {
    &--indent {
      padding: 130px 0 200px;
      //padding-bottom: 120px;
      @media (max-width: $desktop-width) {
        padding: 80px 0 190px;
      }
/*      @media (max-width: $tablet-width) {
        padding: 80px 0 190px;
      }*/
    }
  }
  &__title {
    color: $white;
    text-transform: uppercase;
    @include font-Roboto(58px, 72px, lighter);
    letter-spacing: 8px;
    @media (max-width: $desktop-width) {
      @include font-Roboto(48px, 62px, lighter);
    }
    @media (max-width: $tablet-width) {
      @include font-Roboto(30px, 42px, lighter);
    }
   }
  &__text {
    @include font-SFUI(18px, 30px, 300);
    color: $white;
    @media (max-width: $tablet-width) {
      display: none;
    }
    &--indent {
      padding-bottom: 51px;
    }
  }

  &__photo-wrapper {
    pointer-events: none;
    position: absolute;
    top: -40px;
    right: -100px;
    @media (max-width: $desktop-width) {
      top: 0;
      right: 0;
    }
    @media (max-width: $tablet-width) {
      top: 100px;
      right: -60px;
    }
  }
  &__photo {
    height: 776px;
    @media (max-width: $desktop-width) {
      height: 630px;
    }
    @media (max-width: $tablet-width) {
      transform: scale(-1, 1);
      height: 318px;
    }
  }
}