.main-sect {

  &__content {
    position: relative;
    &--indent {
      padding: 100px 0;
    }
  }

  &__title {
    color: $white;
    font-weight: lighter;
    &--indent {
      padding-bottom: 40px;
      @media (max-width: $desktop-width) {
        padding-bottom: 50px;
      }
      @media (max-width: $mobile-width) {
        padding-bottom: 10px;
      }
    }
  }
  &__text {
    font-weight: normal;
    @include font(14px, 18px);
    color: $white;
    @media (max-width: $mobile-width) {
      display: none;
    }
    &--indent {
      padding-bottom: 50px;
    }
  }
  &__button {
    padding: 20px 50px;
  }
  &__photo {
    position: absolute;
    z-index: -1;
    top: -15%;
    right: -6%;
    @media (max-width: $desktop-width) {
      right: auto;
      top: -10%;
      left: 30%;
    }
    @media (max-width: $mobile-width) {
      top: 50%;
      width: 260px;
      transform: scale(-1, 1) translateX(25%);
      display: none;
    }
  }
}