//Color
$primary: #91aa59;
//$secondary;
$white: white;





//Sizes
$desktop-width: 1366px;
$tablet-width: 764px;
//$mobile-width: 320px;


//Time

$transition-time: .2s;

// Maket
$maket-visible: 0; // 0 - Invisible | 1 - Visible
